@import '../../../config-scss/rem-calc.scss';
:host{
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: .9375rem 1.25rem; //Tbm é possível usar rem-calc()
        background-color: rgba(255, 255, 255, 0.2);
        
        border-radius: rem-calc(10); // ou converter px=>rem Alt+Z (.625rem)

        input{
            width: 95%;
            background: none;
            border: none;
            
            font-size: rem-calc(18);

            color: var(--white);

            &::placeholder{
                color: var(--white);  
            }
        }
    }
}